/.idea/
/__pycache__/
/package/
/venv/
/dist/
/log/
/plugins/
/database/
/resource/
/uploads/

.DS_Store

config/cos.yaml
config/remote.yaml
config/penetration.yaml
main*.py
start.zsh

*.pyc
*.spec
*.zip
*.whl
*.png
*.ttf
